@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-arrows::-webkit-outer-spin-button,
  .hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-arrows {
    -moz-appearance: textfield;
  }
  .coingrid-scrollbar {
    scroll-margin-right: 1rem;
    -webkit-scroll-margin-right: 1rem;
  }
  .coingrid-scrollbar::-webkit-scrollbar-track {
    visibility: hidden;
    -webkit-visibility: hidden;
  }
  .coingrid-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    -webkit-width: 4px;
    -webkit-height: 4px;
  }
}

@font-face {
  font-family: Satoshi;
  font-weight: 300;
  src: url("/fonts/Satoshi/Satoshi-Light.woff2");
}
@font-face {
  font-family: Satoshi;
  font-weight: 400;
  src: url("/fonts/Satoshi/Satoshi-Regular.woff2");
}
@font-face {
  font-family: Satoshi;
  font-weight: 500;
  src: url("/fonts/Satoshi/Satoshi-Medium.woff2");
}
@font-face {
  font-family: Satoshi;
  font-weight: 700;
  src: url("/fonts/Satoshi/Satoshi-Bold.woff2");
}
@font-face {
  font-family: Satoshi;
  font-weight: 800;
  src: url("/fonts/Satoshi/Satoshi-Black.woff2");
}

body {
  background-color: #FEFFDB;
}




