@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-arrows::-webkit-outer-spin-button,
  .hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-arrows {
    -moz-appearance: textfield;
  }
  .coingrid-scrollbar {
    scroll-margin-right: 1rem;
    -webkit-scroll-margin-right: 1rem;
  }
  .coingrid-scrollbar::-webkit-scrollbar-track {
    visibility: hidden;
    -webkit-visibility: hidden;
  }
  .coingrid-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    -webkit-width: 4px;
    -webkit-height: 4px;
  }
}

@font-face {
  font-family: Sen;
  font-weight: 300;
  src: url("/fonts/Sen/Sen-Regular.ttf");
}
@font-face {
  font-family: Sen;
  font-weight: 400;
  src: url("/fonts/Sen/Sen-Regular.ttf");
}
@font-face {
  font-family: Sen;
  font-weight: 500;
  src: url("/fonts/Sen/Sen-Medium.ttf");
}
@font-face {
  font-family: Sen;
  font-weight: 600;
  src: url("/fonts/Sen/Sen-SemiBold.ttf");
}
@font-face {
  font-family: Sen;
  font-weight: 700;
  src: url("/fonts/Sen/Sen-Bold.ttf");
}
@font-face {
  font-family: Sen;
  font-weight: 800;
  src: url("/fonts/Sen/Sen-ExtraBold.ttf");
}

.backgroundColor { 
  background : linear-gradient(184deg, #FFB067 -9.02%, rgba(255, 255, 255, 0.00) 80.86%);
  background-repeat: no-repeat;
}

.selectarrow {
  background: url("/assets/icons/selectarrow.svg") no-repeat right;
  background-size: 1rem;
  background-position: 97%;
}



